<link rel="stylesheet" type="text/css" href="/assets/showplanta.scss">

<a id="volver" href="<%= root_path %>">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
</a>


<div class="fold_arbol">
	<div class="encabezado">

	<% if @plant.images.length  > 0 %>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    	<!-- Indicators -->
	    	<ol class="carousel-indicators">

	    	<% for i in 0... @plant.images.length %>

		      <% if i == 0 %>
		      	<li data-target="#myCarousel" data-slide-to= '<%= i %>' class="active"></li>
		      <% else %>
		      	<li data-target="#myCarousel" data-slide-to= '<%= i %>' ></li>
			      <% end %>
		    <% end %>

	    	</ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">

			<% for i in 0... @plant.images.length %>

				<% if i == 0 %>

			      <div class="item active">
			        <img src="<%= @plant.images[i] %>" alt="Chania" width="460" height="345" id="imags">
			      </div>

				<% else %>      

			      <div class="item">
			        <img src="<%= @plant.images[i] %>" alt="Chania" width="460" height="345"id="imags">
			      </div>
		    <% end %>
		<% end %>
		</div>


	    <!-- Left and right controls 
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
		-->

		</div>
	<% else %>
	
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    	<!-- Indicators -->
	    	<ol class="carousel-indicators">
		      	<li data-target="#myCarousel" data-slide-to= '0' class="active"></li>
	    	</ol>
    	</div>
		<!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	      <div class="item active">
	        <img src="/assets/logo_2.png" alt="Chania" width="460" height="345" id="imags" style="margin:0 auto;">
	      </div>
		</div>

	<% end %>

		<span>
		<h1><%= @plant.name %></h1>
		</span>
	</div>

	<%= form_for :plant, url: addfavs_path(@plant), method: :patch do |f| %>
		<%= f.hidden_field "name" %>
		<%= f.hidden_field "common_name" %>
		<%= f.hidden_field "resume" %>
		<%= f.hidden_field "description" %>
		<%= f.hidden_field "distribution" %>
		<%= f.hidden_field "latitude" %>
		<%= f.hidden_field "longitude" %>

		<% if !@plant.favs.include?(@user.id) %>
			<button type="submit" id="favoritos_btn" style="border:none;">
	  			<span class="glyphicon glyphicon-star-empty" aria-hidden="true">
			</button>		
		<% else %>
			<button type="submit" id="favoritos_btn" style="border:none;">
	  			<span class="glyphicon glyphicon-star" aria-hidden="true">
			</button>	
		<% end %>
	<% end %>
	
	<div class="contenido" >

	<ul>
		<li>
			<div class="alert alert-info" > <%= @plant.common_name %> </div>
		</li>

		<li> <h2>Resumen</h2> </li>
		<li id="cont" > <p> <%= @plant.resume %> </p> </li>

		<li> <h2>Nombre</h2> </li>
		<li> <p> <%= @plant.name %> </li>

		<li> <h2>Descripción</h2> </li>
		<li> <p> <%= @plant.description %> </p> </li>

		<li> <h2>Distribución</h2> </li>
		<li> <p> <%= @plant.distribution %> </p> </li>

		<li> <h2>Etnobotánica</h2> </li>
		<li> <p> <%= @plant.etnobotanic %> </p> </li>
	</ul>

	</div>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/touch.js" ></script>
<% end %>

