
#volver{
	z-index: 2;
	position: fixed;
	color: gray;
	padding: 7px;
	margin: 10px;
	background-color: rgba(white,1);
	box-shadow: 0px 1.5px 1px 0px rgba(50, 50, 50, 0.15);
	border-radius: 3px;
	border: 1px solid rgba(gray,.5);
	list-style-type: none;
	font-size: 8pt;

	.glyphicon-chevron-left{
		color: gray;
		margin: 0 auto;
	}
}

.fold_arbol{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eee;

	.encabezado{
		position: relative;
		z-index: 1;
		/*position: relative;
		background-image: url("/assets/fondo_app.jpg");*/
		background-size: cover;
		/*
		min-height: 200px;
		height: 40%;
		max-height: 500px;

		min-width: 100%;
		max-width: 1024px;
		*/

		text-align: center;

		.slide{
			background-color: black;
			height: 30%;
			width: 100%;

			#imags{
				height: 30%;
				margin: 0 auto;
			}

			ol{
				li{
					margin-top: 5px;
				}
			}
		}

		span{
			text-align: left;
			position: absolute; 
			padding: 20px 0 0px 0;
			bottom: 0;
	   		left: 0;
	   		background-color: rgba(black,.5);
	   		width: 100%;
			h1{
				color: white;
				margin: 0;
				font-size: 25px;
				text-align: center;
			}
		}

	}

	#favoritos_btn{
		z-index: 1;
		/*box-shadow: 0px 2px 5px #999;*/
		background-color: rgba(white,1);
		padding: 10px 0 10px 0;
		width: 100%;
		height: 20%;
	}
	.glyphicon-star{
		color: gold;
		font-size: 25px;
	}
	.glyphicon-star-empty{
		color: gray;
		font-size: 25px;
	}

	.contenido{
		border-top: 1px solid #eee;
		width: 100%;
		position: relative;
		background-color: white;
		/*padding: 3%;
		*/

		ul{
			padding: 0;
			li{
				list-style: none;
				h2{
					font-size: 18px;
					text-align: center;
					color: #6c6;
					/*background-color: rgba(#6c6,1);*/
					margin: 0;
					padding: 5px 0 5px 0;
					border-top: 1px solid #eee;
				}
				p{
					margin: 0 4% 4% 4%;
					text-align: justify;
				}
			}
			#cont{
				/*background-color: #eee;*/
			}
			.alert-info{
				color: rgba(0,100,255,.5);
				margin: 3% 5% 3% 5%;
				padding: 1%;
				text-align: center;
			}
		}

		table{
			margin: 3%;
			tr{
				vertical-align: top;
				td{
					font: 11px normal 'PT_Sans';
				}
				td#subtitulo{
					font: 15px normal 'PT_Sans';
				}
				td#texto{
					padding-top: 4px;
					border-bottom: 1px solid #eee;

				}
			}
		}
	}
}