
<div class="fold_index">
	<div class="fondo_colorido">
		<img src="assets/logo_1">

		<table>
			<tr id="logo_bapp">
				<td colspan=2><h1>Botanic</h1><h2>App</h2></td>
			</tr>

			<tr id="incorrecto">
				<td colspan=2>			
					<% if flash[:notice] %>
					<%= flash[:notice] %>
					<% end %>
				</td>
			</tr>

			<%= form_for :user, url: login_path do |f| %>
				<tr>
					<td> <%= t :username %> </td>
					<!--<td><input type="text"></td>-->
					<td><%= f.text_field :username %></td>
				</tr>
				<tr>
					<td> <%= t :pass %> </td>
					<!--<td><input type="password"></td>-->
					<td><%=f.password_field :password %></td>
				</tr>

				<tr>
					<td><a id="olvidaste_contrasena" href="<%= forgot_view_path %>"><%= t :forgot %></a></td>
					<td>
						<%=f.submit t :go %>
					</td>
				</tr>

			<% end %>
			

			<tr id="col_botones">
				<td colspan=2><a id="entrar_facebook" href="/auth/facebook"><%= t :login_fb %></a></td>
			</tr>
			<tr id="col_botones">
				<td colspan=2><a id="entrar_google" href="/auth/twitter"><%= t :login_tw %></a></td>
			</tr>
			<tr id="col_registro">
				<td colspan=2> <%= t :not_member %> <a id="registro" href="/users/new"> <%= t :join %> </a></td>
			</tr>
		</table>
		<p id="pie_pagina">Juan Ardila, Diego Zuniga - 2015</p>
	</div>
</div>