<link rel="stylesheet" type="text/css" href="/assets/forgot.css">



<div class="forgot_fold">


	<h3>Por favor escribe el correo con el que te registraste</h3>

			<% if flash[:notice] %>
				<div class="alert alert-danger" role="alert">
					<%= flash[:notice] %>
				</div>
			<% end %>
						
	<%= form_for :user, url: forgot_check_path do |f| %>
	<div class="campos_login">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">  <%= t :email %> </span>
			<%= f.email_field :email, :class => "form-control" %>
		</div>
	</div>
			<%=f.submit "Enviar", :class => "btn btn-success" %>
	<% end %>

	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver al inicio
	</a>

</div>