<link rel="stylesheet" type="text/css" href="/assets/inicio.css">
<div class="barrasuperior"></div>
<div class="fold_ini" >
	<div class="fondo_colorido" >

		<div class="col-md-10 col-md-offset-1">

		
		
		<img class="logo_b" src="assets/logo_1.png">

			<h1>BotanicApp</h1>
				
			<% if flash[:notice] %>
				<div class="alert alert-warning" role="alert">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<%= form_for :user, url: login_path do |f| %>

				<div class="campos_login">
					<div class="input-group">
				 		<span class="input-group-addon" id="basic-addon1"> <%= t :username %> </span>
				 		<%= f.text_field :username, :class => "form-control" %>
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"> <%= t :pass %> </span>
						<%= f.password_field :password, :class => "form-control" %>
					</div>
				</div>
				
				<button type="submit" class="btn btn-success"><%= t :go %></button>
			<% end %>

			<ul>
				<li>
					<a id="olvidaste_contrasena" href="<%= forgot_view_path %>"><%= t :forgot %></a>
				</li>
				<li>
					<a class="btn btn-primary" href="/auth/facebook"><%= t :login_fb %></a>
				</li>	
				<li>
					<a class="btn btn-info" href="/auth/twitter"><%= t :login_tw %></a>
				</li>
			</ul>

			<p id="reg"><%= t :not_member %><a id="registro" href="/users/new"> <%= t :join %> </a></p>

			<p id="names">Juan Ardila, Diego Zuniga - 2015</p>

		</div>
	</div>
</div>
